<p>If you want to learn more about this Identity Manager and how to use it, take a look at the links below:</p>
<ul>
	<li><a href="http://catalogue.fiware.org/enablers/identity-management-keyrock" target="a_blank">
		<i class="fa fa-angle-right" aria-hidden="true"></i> The Identity Manager in FIWARE Catalogue</a>
	</li>
	<li><a href="http://fiware-idm.readthedocs.io/en/latest/" target="a_blank">
		<i class="fa fa-angle-right" aria-hidden="true"></i> Complete documentation for installing, administrating and using the Identity Manager in ReadTheDocs</a>
	</li>
	<li><a href="http://github.com/ging/fiware-idm" target="a_blank">
		<i class="fa fa-angle-right" aria-hidden="true"></i> Source code of the project in GitHub</a>
	</li>
	<li><a href="https://edu.fiware.org/course/view.php?id=79" target="a_blank">
		<i class="fa fa-angle-right" aria-hidden="true"></i> The Identity Manager in FIWARE Academy</a>
	</li>
</ul>
