{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ panel_name|title }}{% endblock %}

{% block page_header %}
{% include "horizon/common/_page_header.html" with title=_("Fiware Services") %}
{% endblock page_header %}
{% block main %}
Welcome to Fiware portal -  {{ panel_name }}
<div class="row">
   <div class="col-sm-12">
        <h1>FONCTIONALITES</h1>
        <h2>Services</h2>
        <ul>
          <li><a href="idas">Retrieve services (Done) </a></li>
          <li><a href="updateidas">Update services (Doing) </a></li>
          <li><a href="newservice">New service </a></li>
          <li> Delete Service</li>
        </ul>

        <h2>Devices</h2>
        <ul>
          <li><a href="#">Retrieve Devices</a></li>
          <li>Delete | Update | Add Devices</li>
        </ul>
   </div>
</div>
{% endblock %}
