{% extends 'basetest.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{{ panel_name|title }}{% endblock %}

{% block page_header %}
{% include "horizon/common/_page_header.html" with title=_("Fiware Services") %}
{% endblock page_header %}
{% block main %}
<div class="row">

  <div class="col-md-8">

    <div class="form-group">
					<div id="container"></div>
				</div>

      <p>
          <form class="form-horizontal" id="myformservice" name="box" method="post">
					<input type="hidden" id="myconfig" name="myconfig"
						required="required" class="form-control">
					<button type="submit" class="btn btn-primary"
						onclick="if (bf.validate()) {alert(&#39;New Service &#39;)}">Post
						Service</button>
				</form>
      </p>
      <br>
       <p>
       * <span class="alert alert-danger bs-alert-old-docs">Required</span>
    </p>
  </div>
  <div class="col-md-4">


    <div class="panel panel-primary">
      <div class="panel-heading">
            <p><img src="{{STATIC_URL}}images/info.png" /> Merci de cliquer sur chaque <strong>onglet</strong>, si vous avez besoin d' <strong>aide</strong>.</p></div>
      <div class="panel-body">

  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="label label-info">Service</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">Pour ajouter un Service ......</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="label label-info">Attriubutes</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">Détails sur les attributs ....</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="label label-info">Commandes</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">Détails sur les commandes à saisir .....
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="label label-info">Lazy</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">Détails  .....
        </div>
      </div>
    </div>

  </div>
      </div>
    </div>

  </div>
</div>

    <div id="modal_wrapper"></div>
{% endblock %}