{% extends 'basetest.html' %}
{% load i18n %}
{% block title %}{{ panel_name|title }}{% endblock %}

{% block page_header %}
{% include "horizon/common/_page_header.html" with title=_("Fiware Services") %}
{% endblock page_header %}
{% block main %}
Welcome to Fiware portal -  {{ panel_name }}

<div class="row">
    <div class="container-fluid">
            <div class="row">
                <div class="col-md-9">
                    <!--div class="table-responsive"-->
                        <table id="grid" class="table table-condensed table-hover table-striped" data-selection="true" data-multi-select="true" data-row-select="true" data-keep-selection="true">
                            <thead>
                                <tr>
                                    {% for ith in  listeentete %}
                                            <th data-column-id={{ ith.0 }} data-order="asc" data-visible={{ ith.2}} data-align="center" data-header-align="center" data-width="auto">{{ ith.0 }}</th>
                                    {% endfor %}
                                    <th data-column-id="link" data-sortable="false" data-width="auto">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for sublistserv in result %}
                                    <tr>
                                        {% for serv in sublistserv %}
                                                <td> {{ serv.1}} </td>
                                        {% endfor %}
                                                <td> <a href="#">- </a> </td>
                                    </tr>
                               {% endfor %}
                            </tbody>
                        </table>
                    <!--/div-->
                </div>
            </div>
        </div>

</div>
{% endblock %}