<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>post idas API</title>


</head>
<body>
{{ context }}
    <div class="w3-container">
            <p>
               <input type="submit" value="GET JSON" id="getJSON" class="w3-btn w3-blue">
            </p>


            <div class="w3-container w3-blue">
                <h2>Input Form</h2>
            </div>
            <form  id="postData" class="w3-container">
                <p>
                    <input type="text" name="" class="w3-input" id="tittle">
                </p>
                <p>
                    <textarea name="" id="body" cols="20" rows="5" class="w3-input"></textarea>
                </p>
                <input type="submit" value="SEND POST" class="w3-btn w3-blue">
            </form>


            <div id="result" class="w3-container"></div>

    </div>




    <script>
        document.getElementById('getJSON').addEventListener('click', getJSON);
        document.getElementById('postData').addEventListener('submit', postData);

        function getJSON(){

        }

        function postData(event){
            event.preventDefault();

            let tittle = document.getElementById('tittle').value;
            let body = document.getElementById('body').value;
            /*
            fetch('https://jsonplaceholder.typicode.com/posts', {
                method: 'POST',
                headers : new Headers(),
                body:JSON.stringify({tittle:tittle, body:body})
            }).then((res) => res.json())
            .then((data) =>  alert('Data Sent'))
            .catch((err)=>console.log(err))
            */

            //Post a json data on API

            //Test with json data
            fetch('http://iot.testnca.org:4041/iot/services', {
                  method: 'POST',
                  headers: {
                     'Content-Type': 'application/json',
                        'Fiware-Service':'mestests',
                            'Fiware-ServicePath':'/testsubservice'
                  },
                  body: JSON.stringify({
                                "services": [
                                    {
                                        "apikey": "APIKEY-9999999999999999",
                                        "cbroker": "http://iot.testnca.org:1026",
                                        "resource": "/iot/d",
                                        "entity_type": "obj-test"
                                    }
                                ]
                            })
                }).then(res=>res.json())
                  .then(res => console.log(res))
                  .catch((err)=>console.log(err))

        }





    </script>

</body>
</html>