{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Applications" %}{% endblock %}

{% block page_header %}{% endblock page_header %}

{% block main %}
<div id="detailApplication">
  <header>
    <h4 class="name">
      {{ application.name }}
      {% if edit %}
      <a href="{% url 'horizon:idm:myApplications:edit' application.id %}" class="small"><i class="fa fa-edit"></i><span>edit</span></a>
      {% endif %}
      {% if manage_roles %}
      <a href="{% url 'horizon:idm:myApplications:roles_manage' application.id %}" class="small"><i class="fa fa-cogs"></i><span>manage roles</span></a>
      {% endif %}
    </h4>
    <div class="logo">
      <img alt="application logo" src="{{ image }}">
    </div>
  </header>
  <div class="panel panel-default info">
    <div class="panel-body">
      <div class="description">
        <h5>
          Description
        </h5>

        <div class="info expander">
          {% if application.description %}
          <p>{{ application.description }}</p>
          {% else %}
          <p><i>No description available</i></p>
          {% endif %}
        </div>
      </div>

      <div class="url">
        <h5>URL</h5>
        <p>{{ application.url }}</p>
      </div>
      <div class="callback_url">
        <h5>Callback URL</h5>
        <p>{{ application.redirect_uris.0 }}</p>
      </div>
      {% if viewCred %}
        <div class="extra">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse_oauth2_credentials" aria-expanded="true" aria-controls="collapse_oauth2_credentials" class="collapsed">
                OAuth2 Credentials <i class="fa fa-angle-up"></i>
            </a>
            <a href="#" class="contextual-help" data-toggle="popover" data-title="OAuth2 Credentials" data-placement="left" data-content="You will be asked for these credentials in the OAuth2 library you use for your application"><i class="fa fa-question-circle"></i></a>
          </h4>
          <div class="collapse_out">
            <div id="collapse_oauth2_credentials" class="form-group collapse" role="tabpanel">
              <div>
                <h6 class="panel-heading">Client ID</h6>
                <p>{{ application.id }}</p>
              </div>
              <div>
                <h6 class="panel-heading">Client Secret</h6>
                <p>{{ application.secret }}</p>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  {% if viewCred %}
  <div class="panel panel-default info">
    <div class="panel-body">
        <div class="extra">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse_pep_proxy" aria-expanded="true" aria-controls="collapse_pep_proxy" class="collapsed">
                PEP Proxy <i class="fa fa-angle-up"></i>
            </a>
            <a href="#" class="contextual-help" data-toggle="popover" data-title="PEP Proxy" data-placement="left" data-content="A PEP Proxy, along with an Authorization PDP, will let you add authentication and authorization security to your application. This way, you will be able also to manage specific permissions and policies to your resources, allowing different access levels to your users."><i class="fa fa-question-circle"></i></a>
          </h4>
          <div id="collapse_pep_proxy" class="form-group collapse {% if pep_proxy_password %}in{% endif %}" role="tabpanel">
            {% if application.pep_proxy_name %}
              <div class="row content_pep">
                <div class="col-md-8 user_pep">
                    <h6 class="panel-heading">Username</h6>
                    <p>{{ application.pep_proxy_name }}</p>
                    {% if pep_proxy_password %}
                      <h6 class="panel-heading">Password</h6>
                      <p class="info">{{ pep_proxy_password }}</p>
                    {% endif %}
                </div>
                <div class="col-md-4 actions_pep">
                    <br>
                    <a href="{% url 'horizon:idm:myApplications:reset_password_pep' application.id %}" class="btn btn-default">Reset password</a>
                    <a href="{% url 'horizon:idm:myApplications:delete_pep' application.id %}" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
                </div>
              </div>
            {% else %}
              <h6 class="panel-heading"></h6>
              <a href="{% url 'horizon:idm:myApplications:register_pep' application.id %}" class="btn btn-default">Register a new PEP Proxy</a>
            {% endif %}
          </div>
        </div>
    </div>
  </div>
  <div class="panel panel-default info">
    <div class="panel-body">
      <div class="extra">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse_iot_sensors" aria-expanded="true" aria-controls="collapse_iot_sensors" class="collapsed">
              IoT Sensors <i class="fa fa-angle-up"></i>
            </a>
            <a href="#" class="contextual-help" data-toggle="popover" data-title="IoT Sensors" data-placement="left" data-content="If your application is related to IoT, sensors need to be registered here for them to be authenticated."><i class="fa fa-question-circle"></i></a>
          </h4>
          <div id="collapse_iot_sensors" class="form-group collapse {% if iot_sensor_password %}in{% endif %} no-transition" role="tabpanel">
            {% if application.iot_sensors %}
              {% for sensor_name in application.iot_sensors %}
              <div class="row content_pep{% if iot_sensor_password and sensor_name == iot_sensor_name %} content_pep_activenew{% endif %}">
                <div class="col-md-8 user_pep">
                    <h6 class="panel-heading">Username</h6>
                    <p>{{ sensor_name }}</p>
                    {% if iot_sensor_password and sensor_name == iot_sensor_name %}
                      <h6 class="panel-heading">Password</h6>
                      <p class="info">{{ iot_sensor_password }}</p>
                    {% endif %}
                </div>
                <div class="col-md-4 actions_pep">
                  <br>
                  <a href="{% url 'horizon:idm:myApplications:reset_password_iot_sensor' application.id sensor_name %}" class="btn btn-default">Reset password</a>
                  <a href="{% url 'horizon:idm:myApplications:delete_iot_sensor' application.id sensor_name %}" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
                </div>
              </div>
              {% endfor %}
            {% endif %}
              <h6 class="panel-heading"></h6>
              <a href="{% url 'horizon:idm:myApplications:register_iot_sensor' application.id %}" class="btn btn-default">Register a new IoT Sensor</a>
          </div>
        </div>
    </div>
  </div>
  {% endif %}

  {{ auth_users_table.render}}

  {{ organizations_table.render}}
</div>
<script type="text/javascript">
  $('.panel-title a:first-child').mouseover(function(){
    $(this).children().toggleClass('fa-rotate-180');
  });

  $('.panel-title a:first-child').mouseleave(function(){
    if ($(this).hasClass('collapsed')){
      $(this).children().removeClass('fa-rotate-180');
    } else {
      $(this).children().addClass('fa-rotate-180');
    }
  });

  $('.panel-title a:first-child').click(function(){
    if ($(this).hasClass('collapsed')){
      $(this).children().addClass('fa-rotate-180');
    } else {
      $(this).children().removeClass('fa-rotate-180');
    }
  });

  $(function(){
    var passedPassword = false;
    $('#collapse_iot_sensors').children('div').children('.user_pep').children('h6').each(function(index){
      if ($(this).html() === 'Username' && !passedPassword){
        $(this).append(' / Sensor ' + (index+1));
      } else {
        $(this).append(' / Sensor ' + (index)); // in case it's password row
        passedPassword = true;
      }
    });
  });

</script>
{% endblock %}
