{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}manage_{{ form.service.name }}_endpoints_form{% endblock %}
{% block form_class %}endpoints_form form-horizontal{% endblock %}
{% block form_action %}{% url 'horizon:endpoints_management:endpoints_management:edit_service' form.service.name %}{% endblock %}

{% block modal_id %}manage_{{ form.service.name }}_endpoints_modal{% endblock %}
{% block modal_class %}endpoints_modal{% endblock %}

{% block modal-body %}
<div class="service_description">
  <!--<h4>Description</h4>-->
  <h4>{{ form.service.type.capitalize }}</h4>
  <p class="service_desc_txt">{{ form.service.description }}</p>
</div>

{% for region in endpoints_allowed_regions %}
<div class="endpoints_list{% if not form.service_enabled %} service_disabled{% endif %}">
  <h4>Endpoints for {{ region }} region</h4>
  <div class="endpoints_data">
    <fieldset>
    {% include "horizon/common/_form_fields.html" with form=form|filter_region:region %}
    </fieldset>
  </div>
</div>
{% endfor %}

<div class="service_username{% if not form.service_enabled %} service_disabled{% endif %}">
  <h4>Username</h4>
  <p>{{ form.service_account_name }}</p>
</div>

<div class="service_password{% if not form.service_enabled %} service_disabled{% endif %}">
  <h4>Password</h4>
  {% if new_service_name == form.service.name %}<p>{{ new_service_password }}</p>{% endif %}
  <a href="{% url 'horizon:endpoints_management:endpoints_management:reset_service' form.service.name %}" class="btn btn-default" id="reset-service-button">Reset password</a>
</div>
{% endblock %}

{% block modal-footer %}
    <button type="submit" class="btn btn-primary always-enabled">Save</button>
    <a href="{% url 'horizon:endpoints_management:endpoints_management:index' %}" class="btn btn-default secondary cancel">Cancel</a>

{% endblock %}
