{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ panel_name|title }}{% endblock %}

{% block page_header %}
{% include "horizon/common/_page_header.html" with title=_("Fiwarepanel") %}
{% endblock page_header %}
{% block main %}
Welcome to Fiware portal -  {{ panel_name }}
<div class="row">
   <div class="col-sm-12">
	<h1>FmjmONCTIONALITES</h1>
	<h2>Services</h2>
	<ul>
	  <li>Retrieve services (Done ! à tester)</li>
 	  <li>Delete | Update | Add Service</li>
	</ul>
	
	<h2>Devices</h2>
	<ul>
	  <li>Retrieve Devices</li>
 	  <li>Delete | Update | Add Devices</li>
	</ul>
   </div>
</div>
<div class="row">
   <div class="col-sm-12">
   {{ tab_group.render }}
   </div>
</div>
{% endblock %}
