{% extends 'horizon/_scripts.html' %}

{% block custom_js_files %}

<script type="text/javascript">
var _URL = window.URL || window.webkitURL;
var jcrop_api;

function readURL(input) {
    lastIndex = input.files.length -1;
    if (input.files && input.files[lastIndex]) {
        img = new Image();
        img.src = _URL.createObjectURL(input.files[lastIndex]);
        img.onerror = function() {
            alert( "Please upload a valid file: " + input.files[lastIndex].type);
        };
        img.onload = function() {
            $(".avatar-update-container").children().show();
            var reader = new FileReader();

            if (!$('#avatar-update').length){
                $('.avatar-update-container').prepend('<div class="col-md-10"><img id="avatar-update" /></div>');
            }

            reader.onload = function (e) {
                var size = img.naturalWidth < img.naturalHeight ? img.naturalWidth : img.naturalHeight;
                $('#avatar-update').attr('src', e.target.result);
                $('#avatar-update').Jcrop({
                    // onChange: showCoords,
                    onSelect: showCoordsAndButtons,
                    aspectRatio: 1,
                    boxWidth: $('.avatar-update-container div.col-md-10').width(),
                    setSelect: [img.naturalWidth/2 - size/2, img.naturalHeight/2 - size/2, img.naturalWidth/2 + size/2, img.naturalHeight/2 + size/2]
                }, function(){
                    jcrop_api = this;
                });
            }

            reader.readAsDataURL(input.files[lastIndex]);
        };
    }
}

function destroyJcropAPI(callback) {
    jcrop_api.destroy();
    $('#avatar-update').parent().remove();
    $(".avatar-update-container").children().hide();
    callback();
};

function showCoordsAndButtons(c){
    $("#id_x1").val(c.x);
    $("#id_y1").val(c.y);
    $("#id_x2").val(c.x2);
    $("#id_y2").val(c.y2);
    $("#crop-and-use-button").prop("disabled", false);
};

$("#id_image").change(function(){
    input = this;

    if (typeof(jcrop_api) !== "undefined"){
        destroyJcropAPI(function() {
            readURL(input);
        });
    }
    else {
        readURL(input);
    }
});

$('#cancel-crop-button').on("click", function(e){
    destroyJcropAPI(function() {
        $('#id_image').val('');
        if ($('div.steps-group').length){
            $('.avatar-update-container').prepend('<div class="col-md-10"><img id="avatar-update" src="{{ STATIC_URL }}dashboard/img/logos/original/app.png" alt="your image"   /></div>');
        }
    });
    e.stopPropagation();
});

$(window).resize(function(){
    if (typeof(jcrop_api) !== "undefined"){
        destroyJcropAPI(function() {
            readURL(input);
        });
    }
})


// $(document).ready(function() {
// 	url = "/static/dashboard/img/logos/small/user.png"
// 	$.get(url)
//     .done(function() {
//         $('#org-avatar').attr("src","/static/dashboard/img/logos/small/group.png")
//         console.log('done')
//     }).fail(function() {
//     	//Poner imagen de cada organización. Pasar como nombre
//        $('#org-avatar').attr("src","/static/dashboard/img/logos/small/user.png")
//        console.log('fail')
//     })


// });

</script>
{% endblock %}
