{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_class %}{% endblock %}
{% block form_action %}{{form.action}}{% endblock %}
{% block form_enctype %}multipart/form-data{% endblock %}

{% block modal_class %}edit{% if form.title == 'Organization Avatar' %} update-avatar-modal{% endif %}{% endblock %}
{% block modal_id %}{% if form.title == 'Cancel' %}cancel-organization-modal{% endif %}{% endblock %}
{% block modal-header %}
{{form.title}}
{% endblock %}

{% block modal-body %}

{% if form.title == 'Organization Avatar' %}
	<div class="row">
		<div class="avatar_col col-xs-12 col-md-6 used-avatar">
			<div class="profile_img">
				<img src="{{ uploaded_image }}" alt="uploaded image"   />
			</div>
			<div class="profile_actions">
				<button class="btn btn-primary always-enabled ajax-modal" href="{% url 'horizon:idm:organizations:delete_image' organization_id %}"{% if no_uploaded_image %} disabled="true"{% endif %}>Delete this image</button>
			</div>
		</div>
	</div>
	<div>
		<fieldset>
			<h6>Upload an image</h6> {% include "horizon/common/_form_fields.html" %}
		</fieldset>
	</div>

	<div class="row avatar-update-container">
		<div class="col-md-2 update_actions" style="display:none;">
			<h6>Select the part of the image you want to use as avatar.</h6>
			<button id="crop-and-use-button" disabled="true" class="btn btn-primary always-enabled" name="crop_and_use" type="submit">Crop and use</button>
			<a href="#" class="btn btn-default always-enabled" id="cancel-crop-button">Cancel</a>
		</div>
	</div>
{% elif form.title == 'Cancel' %}
	<a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#destroy_organization">
	    <h3>
	      <span>Delete Organization</span>
	    </h3>
	</a>
	<div >
	  <fieldset>
	    {% include "horizon/common/_form_fields.html" %}
	  </fieldset>
	</div>
{% else %}
<div >
  <fieldset>
    {% include "horizon/common/_form_fields.html" %}
  </fieldset>
</div>
{% endif %}
{% endblock %}


{% block modal-footer %}

{% if form.title == 'Cancel'%}
<div id="destroy_organization" class="panel-collapse collapse">
  <span>This will delete the organization and all its data</span>
  <button type="submit" class="btn btn-danger">{% trans "Delete Organization" %} </button>
</div>

{% elif form.title == 'Organization Avatar' %}
{% else %}
  <button type="submit" class="btn btn-primary">{% trans "Update Organization" %} </button>
{% endif %}



{% endblock %}
